<%- include('layouts/doctype'); -%>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
</head>
<body>
    <h1>Welcome to OpenZooSim!</h1>
    <p>This is a test! <span id="txtTest"></span></p>
    <%- include('layouts/footer'); -%>
</body>